@import '../../theme_colors/colors.css';

#swap-price {
    max-width: 300px;
    text-align: center;
    margin: 20px auto 0;
    line-height: 25px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}