@import "../../theme_colors/colors.css";

.order-form {
    display: grid;
    grid-template-columns: auto;
    place-content: stretch;
    justify-items: stretch;
    color: var(--token-selector-table-text-color);
}

.order-line {
    margin-bottom: 10px;
    margin-top: 10px;
}

.order-line label {
    position: absolute;
    right: 0;
    top: 0;
}

.order-form .button {
    background: var(--inactive-button-background-color);
    width: 100%;
    text-align: center;
    padding-bottom: 10.75px;
    padding-top: 10.75px;
    border-radius: 3px;
}

.order-form .token-selector {
    margin-bottom: 34px;
}

.order-buttons {
    display: grid;
    grid-template-columns: auto auto;
    place-content: stretch;
    justify-items: center;
}

.order-info {
    position: relative;
    display: grid;
    grid-template-columns: 90% 10%;
}

.order-info label {
    position: absolute;
    right: 0;
    top: 0;
}
.order-input {
    position: relative;
}

.order-form .active-button {
    background-color: var(--swap-button-background-color);
    color: var(--swap-button-text-color);
}

.order-form .clickable-button {
    cursor: pointer;
}

#token-selector-box {
    position: absolute;
    width: 400px;
    background: var(--swap-form-background-color);
    border-radius: 10px;
    color: var(--token-selector-box-text-color)  ;
}
