@import "../../theme_colors/colors.css";

.order-line {
    margin-top: 20px;
}

.order-line label {
    position: absolute;
    right: 0;
    top: 0;
}

.order-param-values {
    display: grid;
    grid-template-columns: 50% 50%;
}

.order-param-values .wallet-amount {
    text-align: right;
}

.order-form .button {
    background: var(--inactive-button-background-color);
    width: 100%;
    text-align: center;
    padding-bottom: 10.75px;
    padding-top: 10.75px;
    border-radius: 3px;
}

.order-buttons {
    display: grid;
    grid-template-columns: auto auto;
    place-content: stretch;
    justify-items: center;
    margin-bottom: 40px;
}

.order-inputs {
    display: grid;
    grid-template-columns: 45% 45%;
    place-content: stretch;
    justify-items: center;
    grid-gap: 10%;
}

.order-info {
    position: relative;
    display: grid;
    grid-template-columns: 90% 10%;
}

.order-info label {
    position: absolute;
    right: 0;
    top: 0;
}
.order-input {
    position: relative;
}

.order-form .active-button {
    background-color: var(--swap-button-background-color);
    color: var(--swap-button-text-color);
}

.order-form .clickable-button {
    cursor: pointer;
}

#token-selector-box {
    position: absolute;
    top: 20px;
    width: 350px;
    background: var(--swap-form-background-color);
    border-radius: 10px;
    color: var(--token-selector-box-text-color)  ;
}

@media(min-width: 600px) {
    #token-selector-box {
        width: 400px;
    }
}
