@import "../../theme_colors/colors.css";

.order-book {
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
    grid-row: 1;
    grid-column: 2;
    height: 516px;
    width: 455px;
    background-color: var(--token-selector-background-color);
    border-radius: 10px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
}

#order-table-canvas {
    height: 480px;
    width: 420px;
    overflow-y: scroll;
}

.orders {
    width: 410px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
}

#orders-separator {
    width: 450px;
    height: 4px;
    border: 3px solid var(--token-selector-border-color);
}

.bid {
    color: #3FCCB0;
}

.ask {
    color: #CC3F3F;
}

.orders thead th {
    position: sticky;
    top: 0;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    font-weight: normal;
    color: var(--token-selector-table-text-color);
    background: var(--token-selector-background-color);
}

.order-book .order-book-loader {
    align-content: center;
}
