@import "../../theme_colors/colors.css";

#order-table-canvas {
    height: 480px;
    width: 370px;
    overflow-y: scroll;
}

.orders {
    width: 360px;
    text-align: center;
    line-height: 25px;
}

#orders-separator {
    width: 450px;
    height: 4px;
    border: 3px solid var(--token-selector-border-color);
}

.bid {
    color: #3FCCB0;
}

.ask {
    color: #CC3F3F;
}

.order:hover {
    background-color: var(--main-background-color);
    cursor: pointer;
}

.orders thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    line-height: 40px;
    font-weight: normal;
    color: var(--token-selector-table-text-color);
    background: var(--token-selector-background-color);
}

.orders th,td {
    width: 30%;
}

.order-book .order-book-loader {
    align-content: center;
}

@media(min-width: 600px) {
    .orders{
        width: 410px;
    }

    #order-table-canvas {
        width: 420px;
    }
}
