
.dashboard {
    display: grid;
    grid-template-columns: auto;
    place-items: stretch;
    place-content: space-evenly;
    column-gap: 15px;
    row-gap: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
}

.order-form {
    display: grid;
    grid-template-columns: auto;
    place-content: stretch;
    justify-items: stretch;
    color: var(--token-selector-table-text-color);
    border-radius: 10px;
    padding: 30px;
    background: var(--swap-form-background-color);
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
    grid-column: 1;
    grid-row: 1;
    width: 340px;
    height: 456px;
}

.order-book {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    grid-row: 2;
    grid-column: 1;
    height: 516px;
    width: 400px;
    background-color: var(--token-selector-background-color);
    border-radius: 10px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
}

.order-list{
    grid-row: 3;
    grid-column: 1;
    background-color: var(--token-selector-background-color);
    border-radius: 10px;
    padding: 20px;
    height: 275px;
    font-style: normal;
    font-weight: normal;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
}


.dashboard #token-selector .tokens {
    height: 410px;
    overflow: auto;
}

@media(min-width: 600px){
    .dashboard {
        grid-template-columns: auto auto;
    }

    .order-form {
        width: 395px;
    }

    .order-book {
        width: 455px;
    }

}


@media(min-width: 1000px){
    .dashboard {
        grid-template-columns: auto auto;
    }

    .order-form {
        grid-column: 1;
        grid-row: 1;
    }

    .order-book {
        grid-row: 1;
        grid-column: 2;
    }

    .order-list{
        grid-row: 2;
        grid-column: 1 / span 2;
    }

}



