:root {
  --brand-logo: url("logo-dark.svg");
  --swap-button-image: url("switch-button-dark.svg");
  --main-background-color: #1A1A1A;
  --main-text-color: #FFFFFF;

  --swap-form-background-color: #1A1A1A;
  --swap-from-border-color: #337263;
  --swap-button-background-color: #21302D;
  --swap-button-text-color: #60FFD9;
  --swap-direction-title-color: #A3A3A3;

  --token-selector-text-color: #FFFFFF;
  --token-selector-background-color: #1A1A1A;
  --token-selector-border-color: #2D2D2D;
  --token-selector-bg-background: #151515;
  --token-selector-table-hover-background-color: #2E2E2E;
  --token-selector-table-text-color: #A3A3A3;
  --token-selector-box-background-color: #1C1C1C;
  --token-selector-box-border-color: #337263;
  --token-selector-box-text-color: #151515  ;

  --top-nav-text-color: #FFFFFF;
  --footer-text-color: #717171;

  --settings-drop-down-background-color: #2E2E2E;
  --settings-button-background-color: #2E2E2E;

  --theme-switch-button-background-color: #1C1C1C;
  --theme-switch-button-text-color: #FFFFFF;

  --theme-switch-active-button-border-color: #337263;
  --theme-switch-active-button-background-color: #21302D;
  --theme-switch-active-button-text-color: #60FFD9;
}

[data-theme="light"] {
  --brand-logo: url("logo-light.svg");
  --swap-button-image: url("switch-button-light.svg");
  --main-background-color: #F9F9F9;
  --main-text-color: #000000;

  --swap-form-background-color: #FFFFFF;
  --swap-from-border-color: #F9F9F9;
  --swap-button-background-color: #000000;
  --swap-button-text-color: #FFFFFF;
  --swap-direction-title-color: #000000;

  --token-selector-text-color: #888888;
  --token-selector-background-color: #FFFFFF;
  --token-selector-border-color: #EDEDED;
  --token-selector-bg-background: #FFFFFF;
  --token-selector-table-hover-background-color: #EDEDED;
  --token-selector-table-text-color: #A3A3A3;
  --token-selector-box-background-color: #FFFFFF;
  --token-selector-box-border-color: #ECECEC;
  --token-selector-box-text-color: #999999  ;

  --top-nav-text-color: #000000;

  --settings-button-background-color: #888888;
  --settings-drop-down-background-color: #FFFFFF;

  --theme-switch-button-background-color: #EDEDED;
  --theme-switch-button-text-color: #797979;

  --theme-switch-active-button-background-color: #000000;
  --theme-switch-active-button-text-color: #FFFFFF;
  --theme-switch-active-button-border-color: #000000;
}

::-webkit-scrollbar {
  background: var(--main-background-color);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--token-selector-border-color);
  -webkit-box-shadow: inset 0 0 2px var(--token-selector-border-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
