@import '../../theme_colors/colors.css';

blocky {
    display: block;
    border: none;
    outline: none;
    line-height: 30px;
    padding-left: 15px;
    margin-right: 10px;
}

blocky #address {
    vertical-align: center;
    cursor: pointer;
    color: var(--main-text-color);
    font-style: normal;
}

blocky #wallet-connect {
    vertical-align: center;
    cursor: pointer;
    color: var(--main-text-color);
    font-style: normal;
}

blocky #identicon {
    padding-left: 15px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}

@media(min-width: 600px){
    blocky{
        line-height: 50px;
    }
}
