@import "../theme_colors/colors.css";

#token-selector .box {
    position: absolute;
    display: block;
    top: -100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 400px;
    width:100%;
    min-width: 290px;
    height: 620px;
    background: var(--token-selector-box-background-color);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid var(--token-selector-box-border-color);
    color: var(--token-selector-box-text-color);
}

#token-selector .wrapper {
}

#token-selector .img {
    width: 30px;
}

#token-selector .close {
    text-align: right;
}

#token-selector .close img {
    cursor: pointer;
    margin-bottom: 15px;
}

#token-selector .img img {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    width: 25px;
    margin-right: 10px;
}

#token-selector .tokens {
    height: 500px;
    overflow: auto;
}

#token-selector table {
    color: var(--token-selector-table-text-color);
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
}

#token-selector table tr {
    line-height: 45px;
}

#token-selector table tr:hover {
    background: var(--token-selector-table-hover-background-color);
    cursor: pointer;
}

#token-selector .balance {
    text-align: right;
    padding-right: 30px;
}

#token-selector .symbol {
    text-align: left;
}

#token-selector input[type=text] {
    -moz-appearance: textfield;
    border: 0;
    color: var(--token-selector-text-color);
    background: var(--swap-form-background-color);
    border-bottom: 1px solid var(--token-selector-border-color);
    padding: 5px 0;
    font-size: 16px;
    outline: none;
    margin-right: 10px;
    width: 100%;
}
