@import "../theme_colors/colors.css";

.dropdown {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 41px;
    border-radius: 5px;
    background: var(--settings-button-background-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.01);
    cursor: pointer;
}

.dropdown-logo {
    margin: 11px;
}

.dropdown-content {
    position: absolute;
    margin-top: 45px;
    right: 10px;
    min-width: 316px;
    z-index: 99;
    background: var(--settings-drop-down-background-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.01);
    border-radius: 5px;
}
